@font-face {
    font-family: 'Oxygen';
    src: url('./fonts/Oxygen/Oxygen-Light.ttf');
    font-style: lighter;
}

@font-face {
    font-family: 'Oxygen';
    src: url('./fonts/Oxygen/Oxygen-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Oxygen';
    src: url('./fonts/Oxygen/Oxygen-Bold.ttf');
    font-weight: bold;

}

body {
    background-color: #1a1e29;
    overflow: hidden;
    margin: 0 auto;
    font-family: "Oxygen";

}

h1, h2, h3, h4, p, span {
    color: #fff ;
}

a {
    color: aqua;
    text-decoration: none;
}