.heading {
    font-family: "Oxygen";
    /*font-weight: bold;*/
}
.parag {
  font-family: "Oxygen";
  color: #fff  ;
  font-weight: lighter;
  font-size: 25px;
}

.parag_bold {
  font-size: 28px;
  font-weight: bold;
}

.parag_small {
  font-family: "Oxygen";
  color: #fff  ;
  font-weight: lighter;
  font-size: 18px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}