@font-face {
  font-family: 'Oxygen';
  src: url('../assets/fonts/Oxygen/Oxygen-Light.ttf');
  font-style: lighter;
}

@font-face {
  font-family: 'Oxygen';
  src: url('../assets/fonts/Oxygen/Oxygen-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Oxygen';
  src: url('../assets/fonts/Oxygen/Oxygen-Bold.ttf');
  font-weight: bold;

}

.heading {
  font-family: "Oxygen";
  /*font-weight: bold;*/
}
.parag {
  font-family: "Oxygen";
  color: beige  ;
  font-weight: lighter;
}

