@font-face {
  font-family: 'Oxygen-Light';
  src: url('../assets/fonts/Oxygen/Oxygen-Light.ttf');
}

@font-face {
  font-family: 'Oxygen';
  src: url('../assets/fonts/Oxygen/Oxygen-Regular.ttf');
}

@font-face {
  font-family: 'Oxygen-Bold';
  src: url('../assets/fonts/Oxygen/Oxygen-Bold.ttf');

}

.heading {
  font-family: "Oxygen-Bold";
  font-weight: 400;
}
.parag {
  font-family: "Oxygen-Light";
  color: beige  ;
  font-weight: 200;
}

